$icomoon-font-family: "innod" !default;
$icomoon-font-path: "fonts" !default;

$iconinnod-plus-3: "\e9fa";
$iconinnod-editar-4: "\e9fb";
$iconinnod-less2: "\e9f9";
$iconinnod-menu-5: "\e9f8";
$iconinnod-ojo2: "\e9f6";
$iconinnod-mail2: "\e9f7";
$iconinnod-add-docs: "\e900";
$iconinnod-add-user: "\e901";
$iconinnod-admin-institucion: "\e902";
$iconinnod-alarm: "\e903";
$iconinnod-aproval: "\e904";
$iconinnod-arrow-1-left: "\e905";
$iconinnod-arrow-1-right: "\e906";
$iconinnod-arrow-2-bottom: "\e907";
$iconinnod-arrow-2-left: "\e908";
$iconinnod-arrow-2-right: "\e909";
$iconinnod-arrow-2-top: "\e90a";
$iconinnod-arrow-3-bottom: "\e90b";
$iconinnod-arrow-3-left: "\e90c";
$iconinnod-arrow-3-right: "\e90d";
$iconinnod-arrow-3-top: "\e90e";
$iconinnod-arrow-4-left: "\e90f";
$iconinnod-arrow-4-right: "\e910";
$iconinnod-audio: "\e911";
$iconinnod-back: "\e912";
$iconinnod-back-2: "\e913";
$iconinnod-beaker: "\e914";
$iconinnod-birthday: "\e915";
$iconinnod-block: "\e916";
$iconinnod-blocks: "\e917";
$iconinnod-blocks-2: "\e918";
$iconinnod-blocks-3: "\e919";
$iconinnod-buffer: "\e91a";
$iconinnod-build: "\e91b";
$iconinnod-calendario: "\e91c";
$iconinnod-calendario2: "\e91d";
$iconinnod-calendario-hora: "\e91e";
$iconinnod-camera: "\e91f";
$iconinnod-camera2: "\e920";
$iconinnod-camera-off: "\e921";
$iconinnod-campana: "\e922";
$iconinnod-cancel: "\e923";
$iconinnod-candado: "\e924";
$iconinnod-casa: "\e925";
$iconinnod-casa2: "\e926";
$iconinnod-change: "\e927";
$iconinnod-change2: "\e928";
$iconinnod-check: "\e929";
$iconinnod-check-2: "\e92a";
$iconinnod-check-3-path1: "\e92b";
$iconinnod-check-3-path2: "\e92c";
$iconinnod-check-3-off: "\e92d";
$iconinnod-check-4-path1: "\e92e";
$iconinnod-check-4-path2: "\e92f";
$iconinnod-check-4-off: "\e930";
$iconinnod-check-box: "\e931";
$iconinnod-check-box-empty: "\e932";
$iconinnod-checklist: "\e933";
$iconinnod-cite-left: "\e934";
$iconinnod-cleaner: "\e935";
$iconinnod-clipboard: "\e936";
$iconinnod-close: "\e937";
$iconinnod-codigo-qr: "\e938";
$iconinnod-colgar: "\e939";
$iconinnod-configuration1: "\e93a";
$iconinnod-configuration2: "\e93b";
$iconinnod-configuration3: "\e93c";
$iconinnod-configuration4: "\e93d";
$iconinnod-contract: "\e93e";
$iconinnod-copy: "\e93f";
$iconinnod-curriculum: "\e940";
$iconinnod-dashboard: "\e941";
$iconinnod-design-3d: "\e942";
$iconinnod-diagnostic: "\e943";
$iconinnod-doc: "\e944";
$iconinnod-docs: "\e945";
$iconinnod-double-check: "\e946";
$iconinnod-download: "\e947";
$iconinnod-download2: "\e948";
$iconinnod-duplicated: "\e949";
$iconinnod-editar: "\e94a";
$iconinnod-editar-2: "\e94b";
$iconinnod-editar-3: "\e94c";
$iconinnod-edit-user: "\e94d";
$iconinnod-eliminar: "\e94e";
$iconinnod-energy: "\e94f";
$iconinnod-enlace: "\e950";
$iconinnod-error: "\e951";
$iconinnod-estudiando: "\e952";
$iconinnod-exchange: "\e953";
$iconinnod-exclamation: "\e954";
$iconinnod-exclamation2: "\e955";
$iconinnod-explosion: "\e956";
$iconinnod-facebook: "\e957";
$iconinnod-face-sad: "\e958";
$iconinnod-faq: "\e959";
$iconinnod-file: "\e95a";
$iconinnod-filter: "\e95b";
$iconinnod-flask: "\e95c";
$iconinnod-forecast: "\e95d";
$iconinnod-gear: "\e95e";
$iconinnod-gota: "\e95f";
$iconinnod-graduated: "\e960";
$iconinnod-graph: "\e961";
$iconinnod-graph-2: "\e962";
$iconinnod-graph-3: "\e963";
$iconinnod-gun-scan: "\e964";
$iconinnod-hand: "\e965";
$iconinnod-hand-left: "\e966";
$iconinnod-hand-right: "\e967";
$iconinnod-hand-shake: "\e968";
$iconinnod-hand-stop: "\e969";
$iconinnod-hardware: "\e96a";
$iconinnod-health-insurance: "\e96b";
$iconinnod-heart: "\e96c";
$iconinnod-id-card: "\e96d";
$iconinnod-image: "\e96e";
$iconinnod-industrial: "\e96f";
$iconinnod-informante: "\e970";
$iconinnod-information: "\e971";
$iconinnod-informe: "\e972";
$iconinnod-ingreso: "\e973";
$iconinnod-instagram: "\e974";
$iconinnod-institucion: "\e975";
$iconinnod-intro: "\e976";
$iconinnod-jefe-laboratorio: "\e977";
$iconinnod-key: "\e978";
$iconinnod-key-hole: "\e979";
$iconinnod-kilometers: "\e97a";
$iconinnod-lab-microscope: "\e97b";
$iconinnod-less: "\e97c";
$iconinnod-libro: "\e97d";
$iconinnod-libro-abierto: "\e97e";
$iconinnod-libros: "\e97f";
$iconinnod-libros-2: "\e980";
$iconinnod-like: "\e981";
$iconinnod-linkedin: "\e982";
$iconinnod-list: "\e983";
$iconinnod-list-2: "\e984";
$iconinnod-loading: "\e985";
$iconinnod-location: "\e986";
$iconinnod-location2: "\e987";
$iconinnod-log-out: "\e988";
$iconinnod-log-out2: "\e989";
$iconinnod-mail: "\e98a";
$iconinnod-maintenance: "\e98b";
$iconinnod-mantenedor-paciente: "\e98c";
$iconinnod-mars: "\e98d";
$iconinnod-maximize: "\e98e";
$iconinnod-medical-report: "\e98f";
$iconinnod-medic-document: "\e990";
$iconinnod-medico: "\e991";
$iconinnod-megaphone: "\e992";
$iconinnod-megaphone2: "\e993";
$iconinnod-menu: "\e994";
$iconinnod-menu-2: "\e995";
$iconinnod-menu-3: "\e996";
$iconinnod-menu-4: "\e997";
$iconinnod-message: "\e998";
$iconinnod-microphone: "\e999";
$iconinnod-microphone2: "\e99a";
$iconinnod-microphone2-off: "\e99b";
$iconinnod-more: "\e99c";
$iconinnod-mountain: "\e99d";
$iconinnod-mountain-1: "\e99e";
$iconinnod-mountain-2: "\e99f";
$iconinnod-mountain-3: "\e9a0";
$iconinnod-mountain-4: "\e9a1";
$iconinnod-movie: "\e9a2";
$iconinnod-new-course: "\e9a3";
$iconinnod-newspaper: "\e9a4";
$iconinnod-next: "\e9a5";
$iconinnod-nieve: "\e9a6";
$iconinnod-no-stopping: "\e9a7";
$iconinnod-notification: "\e9a8";
$iconinnod-off: "\e9a9";
$iconinnod-ojo: "\e9aa";
$iconinnod-ojo-cerrado: "\e9ab";
$iconinnod-on: "\e9ac";
$iconinnod-pabellon: "\e9ad";
$iconinnod-paciente: "\e9ae";
$iconinnod-paper-plane: "\e9af";
$iconinnod-pdf: "\e9b0";
$iconinnod-peso: "\e9b1";
$iconinnod-phone: "\e9b2";
$iconinnod-pizarra: "\e9b3";
$iconinnod-play: "\e9b4";
$iconinnod-play2: "\e9b5";
$iconinnod-play-button: "\e9b6";
$iconinnod-plus: "\e9b7";
$iconinnod-plus-2: "\e9b8";
$iconinnod-power: "\e9b9";
$iconinnod-ppt: "\e9ba";
$iconinnod-price-tag: "\e9bb";
$iconinnod-print: "\e9bc";
$iconinnod-process: "\e9bd";
$iconinnod-profesor: "\e9be";
$iconinnod-pronostico: "\e9bf";
$iconinnod-pronostico-last: "\e9c0";
$iconinnod-pronostico-new: "\e9c1";
$iconinnod-pronostico-refresh: "\e9c2";
$iconinnod-question: "\e9c3";
$iconinnod-recepcionista1: "\e9c4";
$iconinnod-refresh: "\e9c5";
$iconinnod-reloj: "\e9c6";
$iconinnod-report: "\e9c7";
$iconinnod-salvavidas: "\e9c8";
$iconinnod-sand-clock: "\e9c9";
$iconinnod-save: "\e9ca";
$iconinnod-screen: "\e9cb";
$iconinnod-screen2: "\e9cc";
$iconinnod-search: "\e9cd";
$iconinnod-search2: "\e9ce";
$iconinnod-software: "\e9cf";
$iconinnod-solicitante: "\e9d0";
$iconinnod-star: "\e9d1";
$iconinnod-steering: "\e9d2";
$iconinnod-subtitle: "\e9d3";
$iconinnod-success: "\e9d4";
$iconinnod-supervisor1: "\e9d5";
$iconinnod-supervisor2: "\e9d6";
$iconinnod-supervisor3: "\e9d7";
$iconinnod-switch-user: "\e9d8";
$iconinnod-teacher: "\e9d9";
$iconinnod-teacher-config: "\e9da";
$iconinnod-thunder: "\e9db";
$iconinnod-timer: "\e9dc";
$iconinnod-torta: "\e9dd";
$iconinnod-tronadura: "\e9de";
$iconinnod-tronadura-off: "\e9df";
$iconinnod-truck1: "\e9e0";
$iconinnod-truck2: "\e9e1";
$iconinnod-truck3: "\e9e2";
$iconinnod-t-shirt: "\e9e3";
$iconinnod-twitter: "\e9e4";
$iconinnod-upload: "\e9e5";
$iconinnod-upload2: "\e9e6";
$iconinnod-upload3: "\e9e7";
$iconinnod-user: "\e9e8";
$iconinnod-user-less: "\e9e9";
$iconinnod-users: "\e9ea";
$iconinnod-users-group: "\e9eb";
$iconinnod-venus: "\e9ec";
$iconinnod-video: "\e9ed";
$iconinnod-video2: "\e9ee";
$iconinnod-viento: "\e9ef";
$iconinnod-warm: "\e9f0";
$iconinnod-warm-2: "\e9f1";
$iconinnod-whatsapp: "\e9f2";
$iconinnod-wifi: "\e9f3";
$iconinnod-wifi-no: "\e9f4";
$iconinnod-xls: "\e9f5";

